NODE_ENV=development

API_GATEWAY_PORT=4000

AUTH_SERVICE_URL=http://localhost:4001
PARTICIPANT_SERVICE_URL=http://localhost:4002
COMMERCE_SERVICE_URL=http://localhost:4003
ORDER_SERVICE_URL=http://localhost:4004
SUPPORT_SERVICE_URL=http://localhost:4014
WAREHOUSE_SERVICE_URL=http://localhost:4006
PACKAGING_SERVICE_URL=http://localhost:4007
LOGISTICS_SERVICE_URL=http://localhost:4008
MARKETING_SERVICE_URL=http://localhost:4009
AFFILIATE_SERVICE_URL=http://localhost:4010
INSPECTION_SERVICE_URL=http://localhost:4011
REPAIR_SERVICE_URL=http://localhost:4012
INSTALLATION_SERVICE_URL=http://localhost:4013
COMPLIANCE_SERVICE_URL=http://localhost:4015